.set-form {
    margin: 10px 0 5px 30px;
}
table {
    border-collapse: collapse;
    margin: 25px 0 0 30px;
}
td {
    border: 1px solid black;

    padding: 0;
    width: 25px;
    height: 25px;
}
.black {
    background-color: black;
}
.white {
    background-color: white;
}